.creators {
  max-width: 1300px;
  margin: 50px auto;
  padding: 0 20px;
}

.back-btn {
  width: 52px;
  height: 52px;

  border-radius: 50%;

  background: white;

  border: none;

  cursor: pointer;

  font-size: 20px;

  box-shadow: 0 10px 25px rgba(0,0,0,.08);

  transition: .3s;
}

.back-btn:hover {
  transform: translateX(-4px);
}

.back-btn:active {
  transform: scale(.92);
}

.creators-title {
  text-align: center;

  font-size: 58px;
  font-weight: 700;

  margin-bottom: 80px;
}

.creators-grid {
  display: grid;

  grid-template-columns:
  repeat(3, 1fr);

  gap: 40px;
}

.creator-card {
  background: white;

  border-radius: 28px;

  overflow: hidden;

  box-shadow:
  0 15px 40px rgba(0,0,0,.06);

  transition: .4s ease;
}

.creator-card:hover {
  transform: translateY(-12px);

  box-shadow:
  0 25px 55px rgba(0,0,0,.12);
}

.creator-cover {
  height: 220px;
}

.creator-cover img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.creator-avatar {
  display: flex;
  justify-content: center;

  margin-top: -55px;

  position: relative;
  z-index: 2;
}

.creator-avatar img {
  width: 110px;
  height: 110px;

  border-radius: 50%;

  border: 6px solid white;

  object-fit: cover;

  transition: .4s;
}

.creator-card:hover .creator-avatar img {
  transform: scale(1.08);
}

.creator-content {
  padding: 25px;
}

.creator-content h3 {
  text-align: center;

  font-size: 34px;

  margin-bottom: 30px;
}

.creator-content h3 span {
  color: #318cff;
  margin-left: 8px;
}

.creator-stats {
  display: flex;

  justify-content: space-between;

  margin-bottom: 30px;
}

.creator-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator-stats strong {
  font-size: 18px;
}

.creator-stats span {
  color: #9d9d9d;
  font-size: 13px;
}

.creator-gallery {
  display: grid;

  grid-template-columns:
  repeat(4, 1fr);

  gap: 12px;
}

.creator-gallery img,
.more-images {
  width: 100%;
  aspect-ratio: 1;

  border-radius: 12px;

  object-fit: cover;
}

.more-images {
  background: #6e6e6e;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;

  font-size: 24px;
}

