.collector {
  max-width: 1400px;

  margin: 180px auto;

  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 80px;
}


.collector-left {
  max-width: 480px;
    width: 40%;
   margin-left: 50px;
}

.collector-subtitle {
  display: block;

  font-size: 50px;
  font-weight: 600;

  color: #d4d4d4;

  margin-bottom: 5px;
}

.collector-left h2 {
  font-size: 60px;
  font-weight: 700;

  line-height: 1.1;

  color: #111;

  margin-bottom: 50px;
}


.collector-list {
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 22px;

  margin-bottom: 55px;
}

.collector-list li {
  font-size: 20px;
  font-weight: 500;

  color: #555;

  transition: all .35s ease;
}

.collector-list li:hover {
  transform: translateX(12px);

  color: #111;
}


.collector-btn {
  background: #111;
  color: white;

  border: none;

  padding: 18px 34px;

  border-radius: 18px;

  font-size: 16px;
  font-weight: 600;

  transition: all .35s ease;
}

.collector-btn:hover {
  transform: translateY(-5px);

  box-shadow:
    0 20px 40px rgba(0,0,0,.15);
}

.collector-btn:active {
  transform: scale(.95);
}


.collector-right {
  position: relative;
}

.collector-right img {
  width: 900px;
  height: 613px;

  object-fit: contain;

  transition: all .5s ease;
}

.collector-right img:hover {
  transform:
    translateY(-10px)
    scale(1.02);
}


